body {
    font-family: sans-serif;
}

form {
    margin: 2rem 1rem;
    display: flex;
    align-items: center;
}

form > * {
    margin: 0rem 0.5rem 0rem 0rem;
}

form > :last-child {
    margin-right: 0rem;
}

input[type=submit] {
    flex-shrink: 0;
}

#mensaje {
    flex-grow: 1;
    flex-basis: 2rem;
}

hr {
    border: none;
    height: 1px;
    background: black;
    margin: 0.5rem;
}

span {
    display: block;
    margin: 0rem 1rem;
    text-align: justify;
}
